<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
    id="io.guzz.cordova.cordova-plugin-webrtcpermissions"
    version="0.0.1">
  <name>ConcatsWebRTCPermissionsCordovaPlugin</name>
  <description>Set permissions for WebRTC in Cordova apps</description>
  <license>MIT</license>
  <keywords>webrtc</keywords>
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      <uses-feature android:name="android.hardware.camera" android:required="true" />
      <uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />
    </config-file>
  </platform>
</plugin>
